In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
import copy
import gc
from collections import Counter

warnings.filterwarnings("ignore")

pd.set_option("display.max_column",100)
pd.set_option("expand_frame_repr",False)

all_data_test=pd.read_csv(r"C:\Users\xiongyuan\Desktop\all_data_test.csv",index_col=False)

In [67]:
all_data_test.head()

   Unnamed: 0  user_id  merchant_id  label  prob  age_range  gender                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path  user_cnt  seller_nunique  cat_nunique  brand_nunique  item_nunique  time_stamp_nunique  action_type_nunique  time_stamp_max  time_stamp_min  time_stamp_std  time_stamp_range  seller_most_1  brand_most_1  action_type_1  seller_most_1_cnt  cat_most_1_cnt  brand_most_1_cnt  action_type_1_cnt
0           0    34176         3906    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410
1           1    34176          121    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410
2           2    34176         4356    1.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410
3           3    34176         2217    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410
4           4   230784         4818    0.0   NaN        0.0     0.0  191923 191923 191923 191923 964906 229470 2294...  1023 1023 1023 1023 662 664 664 1544 664 662 6...  3545 3545 3545 3545 4566 2537 2537 2420 2537 4...  5860.0 5860.0 5860.0 5860.0 6320.0 6064.0 6064...  601 601 601 601 614 614 614 614 614 614 618 61...  0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 0 0 0 0 0 ...        54              20           17             19            31                  16                    2               2               0        0.671791                 2           3556        1236.0              0                 10               9                10                 47

In [59]:
user_col_cnt=all_data_test["action_type_path"]

In [60]:
user_col_cnt=user_col_cnt.str.split(" ")
user_col_cnt

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, ...
4       [0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
1995    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1996    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1997    [2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...
1998    [2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1999    [0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 2, 2, 3, 3, 0, ...
Name: action_type_path, Length: 2000, dtype: object

In [61]:
action_total_0=[]
action_total_1=[]
action_total_2=[]
action_total_3=[]
for col in user_col_cnt:
    action_0=[]
    action_1=[]
    action_2=[]
    action_3=[]
    for col_i in col:
        if col_i =="0":
            action_0.append(col_i)
        elif col_i =="1":
            action_1.append(col_i)
        elif col_i =="2":
            action_2.append(col_i)
        elif col_i =="3":
            action_3.append(col_i)
    action_total_0.append(len(action_0))
    action_total_1.append(len(action_1))
    action_total_2.append(len(action_2))
    action_total_3.append(len(action_3))

In [62]:
action_total_0=pd.DataFrame(action_total_0)
action_total_1=pd.DataFrame(action_total_1)
action_total_2=pd.DataFrame(action_total_2)
action_total_3=pd.DataFrame(action_total_3)

In [63]:
action_total_0.columns=["type_0"]
action_total_1.columns=["type_1"]
action_total_2.columns=["type_2"]
action_total_3.columns=["type_3"]

In [64]:
all_data_test=pd.concat([all_data_test,action_total_0,action_total_1,action_total_2,action_total_3],axis=1)

In [65]:
all_data_test.head()

   Unnamed: 0  user_id  merchant_id  label  prob  age_range  gender                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path  user_cnt  seller_nunique  cat_nunique  brand_nunique  item_nunique  time_stamp_nunique  action_type_nunique  time_stamp_max  time_stamp_min  time_stamp_std  time_stamp_range  seller_most_1  brand_most_1  action_type_1  seller_most_1_cnt  cat_most_1_cnt  brand_most_1_cnt  action_type_1_cnt  type_0  type_1  type_2  type_3
0           0    34176         3906    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410     410       0      34       7
1           1    34176          121    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410     410       0      34       7
2           2    34176         4356    1.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410     410       0      34       7
3           3    34176         2217    0.0   NaN        6.0     0.0  581818 879005 581818 581818 1011673 52343 2773...  1505 662 1505 1505 1505 662 1095 1505 662 1095...  416 3606 416 416 416 3760 3606 416 1926 3004 4...  4014.0 33.0 4014.0 4014.0 4014.0 3738.0 33.0 4...  521 521 521 521 521 521 521 521 521 521 521 52...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...       451             109           45            106           256                  47                    3               3               0        0.634270                 3            331        4094.0              0                 70              98                70                410     410       0      34       7
4           4   230784         4818    0.0   NaN        0.0     0.0  191923 191923 191923 191923 964906 229470 2294...  1023 1023 1023 1023 662 664 664 1544 664 662 6...  3545 3545 3545 3545 4566 2537 2537 2420 2537 4...  5860.0 5860.0 5860.0 5860.0 6320.0 6064.0 6064...  601 601 601 601 614 614 614 614 614 614 618 61...  0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 0 0 0 0 0 ...        54              20           17             19            31                  16                    2               2               0        0.671791                 2           3556        1236.0              0                 10               9                10                 47      47       0       7       0