In [6]:
import pandas as pd 
import numpy as np 
from collections import Counter
pd.set_option("display.max_column",100)
pd.set_option("expand_frame_repr",False)

In [2]:
all_data_test=pd.read_csv(r'D:\文件\学习\数据集\天猫用户复购\data_format1\random_2000.csv',index_col=False)

In [3]:
all_data_test.head()

   Unnamed: 0  user_id                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path
0           0        1  181459,779078,779078,452837,543397,504149,5041...  276,276,276,276,276,1023,1023,1023,1023,1252,1...  2245,2245,2245,2245,2245,925,925,925,925,4026,...  4750.0,4750.0,4750.0,4750.0,4750.0,7402.0,7402...  1009,1009,1009,1009,1009,1011,1011,1011,1011,1...  0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,2,2,...
1           1        2  348983,749563,239288,751744,239288,714176,1972...  177,177,602,602,602,1213,602,602,602,1213,1213...  2223,2223,420,420,420,420,420,420,420,420,420,...  3273.0,3273.0,4953.0,4953.0,4953.0,4058.0,4953...  527,527,626,626,626,626,626,626,626,626,626,62...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,0,0,...
2           2        3  895754,895754,182882,182882,985337,175397,9463...  1505,1505,1271,1271,1271,662,1134,1134,1134,45...  795,795,2123,2123,4925,1102,4461,4461,4461,474...  3608.0,3608.0,4796.0,4796.0,8005.0,1214.0,905....  516,516,627,627,627,727,819,819,820,906,906,90...  2,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3           3        4  836727,243874,185489,95474,30073,790055,790055...  612,1577,1505,1505,1505,1505,1505,1505,1505,15...  1221,1221,1221,1221,1221,1221,1221,1221,1221,1...  7734.0,7734.0,7734.0,7734.0,7734.0,7734.0,7734...  527,527,527,527,527,527,527,527,527,527,527,52...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4           4        5  511956,728354,568450,754044,1011255,741215,362...  302,351,812,1213,142,464,1028,35,1213,351,142,...  3098,3215,641,3736,1483,176,4848,641,3736,4547...  5545.0,5482.0,4265.0,3125.0,4640.0,6662.0,2803...  519,520,520,520,520,520,520,520,520,520,520,52...  3,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,...

In [4]:
all_data_test=all_data_test.drop("Unnamed: 0",axis=1)

In [5]:
all_data_test.head()

   user_id                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path
0        1  181459,779078,779078,452837,543397,504149,5041...  276,276,276,276,276,1023,1023,1023,1023,1252,1...  2245,2245,2245,2245,2245,925,925,925,925,4026,...  4750.0,4750.0,4750.0,4750.0,4750.0,7402.0,7402...  1009,1009,1009,1009,1009,1011,1011,1011,1011,1...  0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,2,2,...
1        2  348983,749563,239288,751744,239288,714176,1972...  177,177,602,602,602,1213,602,602,602,1213,1213...  2223,2223,420,420,420,420,420,420,420,420,420,...  3273.0,3273.0,4953.0,4953.0,4953.0,4058.0,4953...  527,527,626,626,626,626,626,626,626,626,626,62...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,0,0,...
2        3  895754,895754,182882,182882,985337,175397,9463...  1505,1505,1271,1271,1271,662,1134,1134,1134,45...  795,795,2123,2123,4925,1102,4461,4461,4461,474...  3608.0,3608.0,4796.0,4796.0,8005.0,1214.0,905....  516,516,627,627,627,727,819,819,820,906,906,90...  2,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3        4  836727,243874,185489,95474,30073,790055,790055...  612,1577,1505,1505,1505,1505,1505,1505,1505,15...  1221,1221,1221,1221,1221,1221,1221,1221,1221,1...  7734.0,7734.0,7734.0,7734.0,7734.0,7734.0,7734...  527,527,527,527,527,527,527,527,527,527,527,52...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4        5  511956,728354,568450,754044,1011255,741215,362...  302,351,812,1213,142,464,1028,35,1213,351,142,...  3098,3215,641,3736,1483,176,4848,641,3736,4547...  5545.0,5482.0,4265.0,3125.0,4640.0,6662.0,2803...  519,520,520,520,520,520,520,520,520,520,520,52...  3,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,...

In [7]:
#定义工具类
#求和
def cnt_(x):
    try:
        return len(x.split(","))
    except:
        return -1
#求唯一值
def nunique_(x):
    try:
        return len(set(x.split(",")))
    except:
        return -1
#求最大值
def max_(x):
    try:
        data_list=[]
        for i in x.split(","):
            data_list.append(int(i))
        data_max=np.max(data_list)
        return data_max
    except:
        return -1
#求最小值
def min_(x):
    try:
        data_list=[]
        for i in x.split(","):
            data_list.append(int(i))
        data_min=np.max(data_list)
    except:
        return -1
#求标准差
def std_(x):
    try:
        data_list=[]
        for i in x.split(","):
            data_list.append(int(i))
        data_std=np.std(data_list)
    except:
        return -1
#统计top_n的key
def most_n(x,n):
    try:
        data_list=x.split(",")
        data_top_n=Counter(data_list).most_common(n)[n-1][0]
        return data_top_n
    except:
        return -1
#统计top_n的values
def most_n_cnt(x,n):
    try:
        data_list=x.split(",")
        data_top_n=Counter(data_list).most_common(n)[n-1][1]
        return data_top_n
    except:
        return -1

In [23]:
#定义业务函数
#用户操作总次数
def user_cnt(df_data,single_col,name):
    df_data[name]=df_data[single_col].apply(cnt_)
    return df_data
#用户下单数量
def user_nunique(df_data,single_col,name):
    df_data[name]=df_data[single_col].apply(nunique_)
    return df_data
#用户下单最多的商品
def user_max(df_data,single_col,name):
    df_data[name]=df_data[single_col].apply(max_)
    return df_data
#用户下单最少的商品
def user_min(df_data,single_col,name):
    df_data[name]=df_data[single_col].apply(min_)
    return df_data
#用户下单的前n个商品
def user_most_n(df_data, single_col, name, n=1):
    func = lambda x: most_n(x, n)
    df_data[name] = df_data[single_col].apply(func)
    return df_data
#用户下单的前n个商品的数量
def user_most_n_cnt(df_data,single_col,name,n=1):
    df_data[name]=df_data[single_col].apply(most_n_cnt,args=(1))
    return df_data

In [9]:
#用户操作总次数
all_data_test=user_cnt(all_data_test,"seller_path","user_cnt")
all_data_test.head()

   user_id                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path  user_cnt
0        1  181459,779078,779078,452837,543397,504149,5041...  276,276,276,276,276,1023,1023,1023,1023,1252,1...  2245,2245,2245,2245,2245,925,925,925,925,4026,...  4750.0,4750.0,4750.0,4750.0,4750.0,7402.0,7402...  1009,1009,1009,1009,1009,1011,1011,1011,1011,1...  0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,2,2,...        33
1        2  348983,749563,239288,751744,239288,714176,1972...  177,177,602,602,602,1213,602,602,602,1213,1213...  2223,2223,420,420,420,420,420,420,420,420,420,...  3273.0,3273.0,4953.0,4953.0,4953.0,4058.0,4953...  527,527,626,626,626,626,626,626,626,626,626,62...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,0,0,...        63
2        3  895754,895754,182882,182882,985337,175397,9463...  1505,1505,1271,1271,1271,662,1134,1134,1134,45...  795,795,2123,2123,4925,1102,4461,4461,4461,474...  3608.0,3608.0,4796.0,4796.0,8005.0,1214.0,905....  516,516,627,627,627,727,819,819,820,906,906,90...  2,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...        68
3        4  836727,243874,185489,95474,30073,790055,790055...  612,1577,1505,1505,1505,1505,1505,1505,1505,15...  1221,1221,1221,1221,1221,1221,1221,1221,1221,1...  7734.0,7734.0,7734.0,7734.0,7734.0,7734.0,7734...  527,527,527,527,527,527,527,527,527,527,527,52...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...        50
4        5  511956,728354,568450,754044,1011255,741215,362...  302,351,812,1213,142,464,1028,35,1213,351,142,...  3098,3215,641,3736,1483,176,4848,641,3736,4547...  5545.0,5482.0,4265.0,3125.0,4640.0,6662.0,2803...  519,520,520,520,520,520,520,520,520,520,520,52...  3,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,...       173

In [10]:
#不同店铺个数
all_data_test=user_nunique(all_data_test,"seller_path","seller_nunique")
all_data_test.head()

   user_id                                          item_path                                           cat_path                                        seller_path                                         brand_path                                    time_stamp_path                                   action_type_path  user_cnt  seller_nunique
0        1  181459,779078,779078,452837,543397,504149,5041...  276,276,276,276,276,1023,1023,1023,1023,1252,1...  2245,2245,2245,2245,2245,925,925,925,925,4026,...  4750.0,4750.0,4750.0,4750.0,4750.0,7402.0,7402...  1009,1009,1009,1009,1009,1011,1011,1011,1011,1...  0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,2,2,...        33               9
1        2  348983,749563,239288,751744,239288,714176,1972...  177,177,602,602,602,1213,602,602,602,1213,1213...  2223,2223,420,420,420,420,420,420,420,420,420,...  3273.0,3273.0,4953.0,4953.0,4953.0,4058.0,4953...  527,527,626,626,626,626,626,626,626,626,626,62...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,0,0,...        63              14
2        3  895754,895754,182882,182882,985337,175397,9463...  1505,1505,1271,1271,1271,662,1134,1134,1134,45...  795,795,2123,2123,4925,1102,4461,4461,4461,474...  3608.0,3608.0,4796.0,4796.0,8005.0,1214.0,905....  516,516,627,627,627,727,819,819,820,906,906,90...  2,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...        68              23
3        4  836727,243874,185489,95474,30073,790055,790055...  612,1577,1505,1505,1505,1505,1505,1505,1505,15...  1221,1221,1221,1221,1221,1221,1221,1221,1221,1...  7734.0,7734.0,7734.0,7734.0,7734.0,7734.0,7734...  527,527,527,527,527,527,527,527,527,527,527,52...  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...        50              12
4        5  511956,728354,568450,754044,1011255,741215,362...  302,351,812,1213,142,464,1028,35,1213,351,142,...  3098,3215,641,3736,1483,176,4848,641,3736,4547...  5545.0,5482.0,4265.0,3125.0,4640.0,6662.0,2803...  519,520,520,520,520,520,520,520,520,520,520,52...  3,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,...       173              56

In [24]:
all_data_test=user_most_n(all_data_test,"brand_path","brand_most_1",n=1)

TypeError: most_n() argument after * must be an iterable, not int